<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>icici</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dd6dab">  <td>18/11/16 14:51:16</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Library.launch(java.lang.String, java.lang.String)[pri:0, instance:com.selenium.tests.TC_MotoTest@4d0f2471]">&gt;&gt;launch</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@688005825</td>   <td></td> </tr>
<tr bgcolor="9db49b">  <td>18/11/16 14:51:25</td>   <td>9482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_MotoTest.googleTest()[pri:0, instance:com.selenium.tests.TC_MotoTest@4d0f2471]">googleTest</td> 
  <td>main@688005825</td>   <td></td> </tr>
<tr bgcolor="dd6dab">  <td>18/11/16 14:51:25</td>   <td>9596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Library.afterMethodCheck(org.testng.ITestResult)[pri:0, instance:com.selenium.tests.TC_MotoTest@4d0f2471]">&lt;&lt;afterMethodCheck</td> 
<td>&nbsp;</td>  <td>main@688005825</td>   <td></td> </tr>
<tr bgcolor="dd6dab">  <td>18/11/16 14:51:26</td>   <td>10041</td> <td>&nbsp;</td><td title="&lt;&lt;Library.afterTestMethod()[pri:0, instance:com.selenium.tests.TC_MotoTest@4d0f2471]">&lt;&lt;afterTestMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@688005825</td>   <td></td> </tr>
<tr bgcolor="dd6dab">  <td>18/11/16 14:51:26</td>   <td>10509</td> <td>&nbsp;</td><td title="&gt;&gt;Library.launch(java.lang.String, java.lang.String)[pri:0, instance:com.selenium.tests.TC_CustSpeak@52af26ee]">&gt;&gt;launch</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@688005825</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/11/16 14:51:34</td>   <td>18767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_CustSpeak.speakTest()[pri:0, instance:com.selenium.tests.TC_CustSpeak@52af26ee]">speakTest</td> 
  <td>main@688005825</td>   <td></td> </tr>
<tr bgcolor="dd6dab">  <td>18/11/16 14:51:44</td>   <td>28013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Library.afterMethodCheck(org.testng.ITestResult)[pri:0, instance:com.selenium.tests.TC_CustSpeak@52af26ee]">&lt;&lt;afterMethodCheck</td> 
<td>&nbsp;</td>  <td>main@688005825</td>   <td></td> </tr>
<tr bgcolor="dd6dab">  <td>18/11/16 14:51:44</td>   <td>28702</td> <td>&nbsp;</td><td title="&lt;&lt;Library.afterTestMethod()[pri:0, instance:com.selenium.tests.TC_CustSpeak@52af26ee]">&lt;&lt;afterTestMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@688005825</td>   <td></td> </tr>
</table>
